openapi: 3.0.0
info:
  title: Tec de Monterrey Dataverse Native REST Access Mydata API
  version: 1.0.0
  description: OpenAPI 3.0 description served live by the Tecnológico de Monterrey research open-data repository (datahub.tec.mx), running Dataverse 5.9. Retrieved from https://datahub.tec.mx/openapi. Internal deployment server URLs in the source document were replaced with the public base URL; paths and schemas are unmodified.
servers:
- url: https://datahub.tec.mx
  description: Tecnológico de Monterrey Dataverse (datahub.tec.mx) public Native REST API
tags:
- name: Mydata
paths:
  /api/v1/mydata/retrieve:
    get:
      operationId: retrieveMyDataAsJsonString
      parameters:
      - name: dvobject_types
        in: query
        schema:
          type: array
          items:
            type: string
      - name: published_states
        in: query
        schema:
          type: array
          items:
            type: string
      - name: selected_page
        in: query
        schema:
          type: integer
      - name: mydata_search_term
        in: query
        schema:
          type: string
      - name: role_ids
        in: query
        schema:
          type: array
          items:
            type: number
      - name: userIdentifier
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      responses:
        default:
          content:
            application/json:
              schema:
                type: string
          description: Default Response.
      tags:
      - Mydata
